#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "yunohost_appstore"
name = "YunoHost Appstore"

description.en = "Yunohost appstore"
description.fr = "Appstore de Yunohost"

version = "1.2~ynh0"

maintainers = []

[upstream]
license = "GPLv3"
website = "https://apps.yunohost.org"
demo = "https://apps.yunohost.org"

code = "https://github.com/yunohost/appstore"

[integration]
yunohost = ">= 12.0"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/appstore"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    [resources.apt]
    packages = [
        "python3",
        "python3-venv",
    ]
