[Unit]
Description=YunoHost Apps Levels update (weekly)

[Timer]
OnCalendar=Fri 17:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
